@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset global styles */
body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

/* Pour éviter les erreurs html2canvas (PDF) */
.no-oklch * {
  background-color: white !important;
  color: black !important;
  border-color: black !important;
}

/* Cache certains éléments uniquement dans le PDF */
.hide-in-pdf {
  display: none !important;
}